{:paths ["src"]
 :deps {io.github.borkdude/buzz {:local/root "../.."}}
 :tasks {dev {:doc "Start the example on http://localhost:1370"
              :requires ([counters])
              :task (counters/-main)}}}
